/** 
 * PIGEON JS - STYLES
 * 
 * This is the css file where all the library styles are located
 * 
 * since    1.0.0
 * version  1.0.2
 */

/* POP UP */
.no-link {
    cursor: pointer;
}

body.banda-js .pigeon-popup {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10001;
    box-shadow: 0px 10px 58px 15px rgb(0 0 0 / 8%);
}
body.banda-js .pigeon-popup-bg {
    padding: 25px;
    max-height: 100%;
    overflow: scroll;
    background: white;
    box-sizing: border-box;
    max-width: min-content;
}

body.banda-js .pigeon-popup[data-position="top"],
body.banda-js .pigeon-popup[data-position="center"],
body.banda-js .pigeon-popup[data-position="left"],
body.banda-js .pigeon-popup[data-position="right"],
body.banda-js .pigeon-popup[data-position="bottom"] {
    animation: popupBG 0.5s ease-out;
}

body.banda-js .pigeon-popup[data-position="center"] .pigeon-popup-bg {
    min-width: fit-content;
    max-width:70%;
    border-radius: 10px;
    position: relative;
    height: fit-content;
    animation: popupCenter 1s ease-out;
    max-height: 98%;
}
body.banda-js .pigeon-popup[data-position="top"] .pigeon-popup-bg {
    border-radius: 0 0 20px 20px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    animation: popupTop 1s ease-out;
}
body.banda-js .pigeon-popup[data-position="bottom"] .pigeon-popup-bg {
    border-radius: 20px 20px 0 0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    animation: popupBottom 1s ease-out;
}

body.banda-js .pigeon-popup[data-position="left"] .pigeon-popup-bg {
    border-radius: 0 20px 20px 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: auto;
    animation: popupLeft 1s ease-out;
}

body.banda-js .pigeon-popup[data-position="right"] .pigeon-popup-bg {
    border-radius: 20px 0 0 20px;
    position: absolute ;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    animation: popupRight 1s ease-out;
}

body.banda-js [data-type="pop-up-sections"] [data-type="btn"].pigeon-close {
    cursor: pointer;
    color: black;
    margin: 0 5px;
    padding: 0;
    background: transparent;
    font-size: 20px;
}
body.banda-js div[data-position="pop-up,top-right"] {
    position: absolute;
    top: 10px;
    right: 10px;
}
body.banda-js div[data-position="pop-up,top-left"] {
    position: absolute;
    top: 10px;
    left: 10px;
}
body.banda-js div[data-position="pop-up,bottom-right"] {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
body.banda-js div[data-position="pop-up,bottom-left"] {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
body.banda-js div[data-position="window,top-right"] {
    position: fixed;
    top: 10px;
    right: 10px;
}
body.banda-js div[data-position="window,top-left"] {
    position: fixed;
    top: 10px;
    left: 10px;
}
body.banda-js div[data-position="window,bottom-right"] {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
body.banda-js div[data-position="window,bottom-left"] {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

body.banda-js .pigeon-popup-sections {
    height: 100%;
    overflow: scroll;
}
body.banda-js .pigeon-popup-sections > div {
    padding: 5px 0;
}
body.banda-js .pigeon-popup-sections .ct-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}
body.banda-js [data-type="btn"]{
    cursor: pointer;
}

body.banda-js [data-mode="open"]{
    /*display: initial;*/
}
body.banda-js [data-mode="close"]{
    display: none;
}

@keyframes popupBG {
    0% { 
        display: initial;
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);
    }
    100% { 
        display: none;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }
}

@keyframes popupCenter {
    0% { 
        opacity: 0; 
    }
    50% {
        opacity: 0;
    }
    100% { 
        opacity: 1; 
    }
}



@keyframes popupTop {
    0% { 
        top: -100%; 
    }
    50% {
        top:  -100%;
    }
    100% { 
        top: 0; 
    }
}

@keyframes popupBottom {
    0% { 
        bottom: -100%; 
    }
    50% {
        bottom:  -100%;
    }
    100% { 
        bottom: 0; 
    }
}

@keyframes popupRight {
    0% { 
        right: -100%; 
    }
    50% {
        right:  -100%;
    }
    100% { 
        right: 0; 
    }
}

@keyframes popupLeft {
    0% { 
        left: -100%; 
    }
    50% {
        left:  -100%;
    }
    100% { 
        left: 0; 
    }
}
