<!DOCTYPE html>
<%- include('../partials/mark') %>
<html lang="en">
	<head>
	    <%- include('../partials/head'); %>
	</head>
	<body class="error404">
		<div class="header">

		</div>
		<div class="pigeon-content">
			<div class="title">
				<h1>Page not found</h1>
				<p>Unfortunately, this page does not exist</p>
				<a class="pigeon-404-btn" href="/"> Home </a>
			</div>
		</div>
		<div class="footer">
			<%- include('../partials/footer'); %>
		</div>
	</body>
</html>