<!DOCTYPE html>

<%- include('../partials/mark') %>

<html lang="en">
	<head>
	    <%- include('../partials/head') %>
	</head>
	<body class="home">
		<div class="header">
		</div>
		<div id="app" class="content-area">
			
			<div class="section">

			    <div class="part posts" >
					<div class="pigeon-archive-sites all">
						<div class="pigeon-preloader-page">
						    <div class="pigeon-loading spinner">
						        <div class="spinner-div">
						            <div><div></div></div>
						            <div><div></div></div>
						            <div><div></div></div>
						            <div><div></div></div>
						            <div><div></div></div>
						            <div><div></div></div>
						            <div><div></div></div>
						            <div><div></div></div>
						        </div>
						    </div>
						    Loading data
						</div>
					</div>
				</div>

			</div>

		</div>
		<div class="footer">
			<%- include('../partials/footer') %>
		</div>
	</body>
		
</html>