<!DOCTYPE html>

<%- include('../partials/mark') %>

<html lang="en">
	<head>
	    <%- include('../partials/head') %>
	</head>
	<body class="home">
		<div class="header">
			<%- include('../partials/header') %>
		</div>
		<div id="app" class="content-area">
			
			<div class="section">

			    <div class="part posts" >
					<div class="pigeon-archive-sites all">
						No data found
					</div>
				</div>

			</div>

		</div>
		<div class="footer">
			<%- include('../partials/footer') %>
		</div>
	</body>
		
</html>