@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: avantgarde;
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url("/font/avantgarde-demi.woff2");
}

@font-face {
	font-family: sf-pro;
	font-style: normal;
	font-weight: 200 500;
	font-display: swap;
	src: url("/font/sf.woff2");
}

body {
    @apply bg-gray-900 text-primary-50 selection:bg-primary-500 selection:text-primary-50 font-sans
}
a {
    @apply text-primary-50 hover:text-primary-400 transition-all ease-in-out duration-500
}
p {
    @apply text-primary-50 my-4 
}
italic {
    @apply italic
}
ul {
    @apply [&_li]:ml-2 [&_li]:text-primary-50 space-y-2 p-1
}

svg {
    @apply fill-primary-50
}

h1, h2, h3, h4,h5,h6 {
	font-family: avantgarde;
    @apply text-primary-100 font-extrabold;
}

h1 {
	letter-spacing: -0.04em;
    @apply text-4xl
}
h2 {
    @apply text-3xl
}
h3,h4,h5,h6 {
	@apply text-xl
}
button:not(.card), 

.post__header a {
	font-family: sf-pro;
}
/* .badge {
	letter-spacing: 0.08em;
} */
ol, ul, menu {
    list-style: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* TITLE */
.title {
    @apply text-[55px] sm:text-[45px] md:text-[75px] lg:text-[85px] xl:text-[95px] font-extrabold;
}

.title__subtitle {
	letter-spacing: -0.015em;
	font-family: sf-pro;
    @apply text-[20px] sm:text-[30px] md:text-[40px] lg:text-[45px] xl:text-[50px] mt-2 font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-secondary-500 to-primary-500 max-w-full md:max-w-[75%] lg:max-w-[60%] flex flex-col items-start
}

.title__subtitle__typewriter {
    @apply bg-primary-500/10 text-primary-700 px-2 sm:px-3 md:px-4 rounded-md
}

.title__desc {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl font-extrabold py-2 sm:py-8 italic text-primary-300/50
}


/* TRANSIIONS */
.transition_general {
    @apply transition-all duration-300 ease-in-out
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}

@media (prefers-reduced-motion: no-preference) {

	/* text color animation */
	@keyframes textColorChange {
		0% { color: theme('colors.primary.300'); }
		50% { color: theme('colors.primary.400'); }
		100% { color: theme('colors.primary.300'); }
	}

	.text_color_change {
		animation: textColorChange 2s ease-in-out forwards;
	}
	
	/* GENERAL */
	/* header {
		view-transition-name: header;
	} */

	header button.active {
		view-transition-name: active-page;
	}
	
	footer {
		view-transition-name: footer;
	}


}



/* MENU */
.header .header__menu_responsive {
	@apply pt-2 pb-1 px-3 m-0
}
.header .header__menu{
	@apply transition-all rounded-[30px] border-2 border-transparent
}


.popup__content,
.header__menu_responsive,
.header.stuck .header__menu {
	@apply transition-all rounded-[30px] border-2 bg-primary-900/20 backdrop-blur-2xl border-primary-500/10 w-fit mr-0;
}

/** HIDE ON SCROLL */
.hide_bottom_on_scroll {
	@apply transition-all duration-300 transform translate-y-0
}
.scrolling .hide_bottom_on_scroll {
    @apply opacity-0 translate-y-10;
}
.hide_top_on_scroll {
	@apply transition-all duration-300 transform translate-y-0
}
.scrolling .hide_top_on_scroll {
    @apply !opacity-0 !translate-y--10;
}

/** FOOTER */

.footer {
    @apply relative flex flex-col gap-4 rounded-lg items-center my-[50px];
	> span {
		@apply text-4xl font-bold mb-2
	}
	> a {
		@apply opacity-50 !text-primary-100;
	}
}




button:focus-visible,
a:focus-visible,
[role="button"]:focus-visible {
	@apply !outline-primary-400 !outline-dashed !shadow-none !outline-2
}

[class*="hint--"]:after {
	@apply !bg-primary-950 rounded-theme
}
[class*="hint--"]:before {
	display:none;
}
