// SHARE 
.pigeon-share {
    margin: 20px 0 0 0;
    // COPY
    .pigeon-share-copy {
        color: $text-color;
        margin: 20px 5px;
        // Title
        .pigeon-copy-title {
            padding: 0 0 10px 0;
        }
        // Content
        > div {
            display: flex;
            position: relative;  
            // Text
            .pigeon-copy-text {
                padding: 10px;
                background: $input-bg-color;
                border-radius: 5px 0 0 5px;
                width: 90%;
                cursor: no-drop;
            }
            // Btn
            .pigeon-copy-btn {
                width: 10%;
                background: $btn-bg-color-2;
                color: $btn-text-color;
                border-radius: 0 5px 5px 0;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: center;
                align-items: center;
                cursor: copy;
                margin: 0;
                padding: 12px;
            }
            // Success text
            .pigeon-copy-success {
                position: absolute;
                color: $text-color;
                top: -40px;
                right: 0;
                width: max-content;
                background: $bg-color;
                box-shadow: $shadow;
                font-size: 12px;
                border-radius: 5px;
                padding: 5px 20px;
                i {
                    margin-right: 10px;
                }        
            }
        }
    }
    // ALL ICONS
    .pigeon-icon-share {
        font-size: 25px;
        padding: 10px;
        margin: 5px 10px 15px 0;
        background: #f6f6f6;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        line-height: 35px !important;
        text-align: center;
        cursor: pointer;
    }
    // Pinterst
    .fa-pinterest-p { 
        background-color: #fcf3f4;   
        color: #bd081c;
        &:hover {
            background-color: #f8e6e8;  
        }
    }
    // Twitter 
    .fa-twitter { 
        background-color: #f4fafe;  
        color: #1da1f2;
        &:hover {
            background-color: #e8f6fe;  
        }
    }
    // Facebook 
    .fa-facebook-f { 
        background-color: #efeff8;  
        color: #3b5998;
        &:hover {
            background-color: #dbe3f1;  
        }
    }
    // Facebook 
    .fa-facebook-messenger { 
        background-color: #edf6ff;  
        color: #4286f6;
        &:hover {
            background-color: #deeeff;  
        }
    }
    // Whatsapp 
    .fa-whatsapp { 
        background-color: #effff6;  
        color: #55dc86;
        &:hover {
            background-color: #e7faee;  
        }
    }
    // Telegram 
    .fa-telegram-plane { 
        background-color: #f0f8fc;  
        color: #3ea0d6;
        &:hover {
            background-color: #e0f0f8;  
        }
    }
    // Reedit 
    .fa-reddit-alien { 
        background-color: #fff6f4;  
        color: #ff6b43;
        &:hover {
            background-color: #ffe7e0;  
        }
    }
    // Reedit 
    .fa-houzz { 
        background-color: #f9fef7;  
        color: #4bbb14;
        &:hover {
            background-color: #edfce5;  
        }
    }
    // Email 
    .fa-envelope { 
        background-color: #efefef;  
        color: #5c5c5c;
        &:hover {
            background-color: #e2e1e1;  
        }
    }
    // Linkedin 
    .fa-linkedin-in { 
        background-color: #f0f8fc;  
        color: #3c92c4;
        &:hover {
            background-color: #e0f0f8;  
        }
    }
}

body.darkmode {
    .pigeon-share {
        // ALL ICONS
        .pigeon-icon-share {
            background: var(--pigeon-btn-bg-color-2) !important;
        }
        // btn copy
        .pigeon-copy-btn {
            background: #232323;
            color: $text-color;
        }
    }
}