:root {
    --pigeon-theme-color: #8150fd;
    --pigeon-theme-color-2: #35b2cb;
}

body {
    // font
    // --pigeon-font-family: "helvetica";
    --pigeon-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    // color
    --pigeon-bg-color: white;
    --pigeon-bg-color-2: #efefef;
    --pigeon-bg-color-3: #ffffff;
    --pigeon-bg-color-invert: black;
    --pigeon-text-color: #262626;
    --pigeon-text-color-invert: white;
    --pigeon-border-color: #e8e8e8;
    --pigeon-border-hide-color: transparent;
    --pigeon-input-bg-color: #f0f0f1;
    --pigeon-input-bg-focus-color: #e9e7e7;
    --pigeon-input-text-color: black;
    --pigeon-btn-text-color: white;
    --pigeon-btn-bg-color-2: #191919;
    --pigeon-btn-bg-color: #8150fd;
    --pigeon-gradient: linear-gradient( 150deg, #8150fd, #35b2cb );
    --pigeon-gradient-invert: linear-gradient( 150deg,#35b2cb,#8150fd );
    --pigeon-gradient-2: '';
    --pigeon-gradient-3: '';
    --pigeon-message-color:  #3f8cce;
    --pigeon-success-color: #359960;
    --pigeon-error-color: #b93440;
    // Shadow
    --pigeon-text-shadow: 0 10px #0000001a;
    --pigeon-box-shadow: 0px 0 25px 10px #0000001a;
    --pigeon-big-box-shadow: 0px 0 80px 80px #0000002e;
    --pigeon-box-shadow-2: 0px 0 80px 80px #0000002e;
    .invert {
        filter: invert(0);
    }
    .inverted {
        filter: invert(100%);
    }
    // &.dark-mode {
    //     // color
    //     --pigeon-bg-color: black !important;
    //     --pigeon-bg-color-2: #101010 !important;
    //     --pigeon-bg-color-invert: #d6d6d6 !important;
    //     --pigeon-text-color: #d6d6d6 !important;
    //     --pigeon-text-color-invert: black !important;
    //     --pigeon-border-color: #171713 !important;
    //     --pigeon-input-bg-color: #171713 !important;
    //     --pigeon-input-bg-focus-color: #171713 !important;
    //     --pigeon-input-text-color: #d6d6d6 !important;
    //     --pigeon-btn-bg-color-2: #d6d6d6 !important;
    //     --pigeon-btn-text-color: black !important;
    //     // Shadow
    //     --pigeon-text-shadow: 0 10px #ffffff1a !important;
    //     --pigeon-box-shadow: 0px 0 25px 10px #ffffff1a !important;
    //     --pigeon-big-box-shadow:  0px 0 80px 80px #ffffff2e !important;
    //     .invert {
    //         filter: invert(100%) !important;
    //     }
    //     .inverted {
    //         filter: invert(0) !important;
    //     }
    // }   
	&.darkmode {

	    // color
	    --pigeon-bg-color: #151515;
	    --pigeon-bg-color-2: #191919 !important;
	    --pigeon-bg-color-3: #1e1e1e !important;
	    --pigeon-bg-color-invert: white;
	    --pigeon-text-color: #d9d9d9;
	    --pigeon-text-color-invert: black;
	    --pigeon-border-color: #191919 !important;
	    --pigeon-border-hide-color: transparent;
	    --pigeon-message-color:  #3f8cce;
	    --pigeon-success-color: #359960;
	    --pigeon-error-color: #b93440;
		--pigeon-input-bg-color: #3a3a3a;
	    --pigeon-input-bg-focus-color: #585858;
	    --pigeon-input-text-color: black;
	    --pigeon-btn-bg-color: #8150fd;
	    --pigeon-btn-bg-color-2: #252525;
	    --pigeon-btn-text-color: white;
	    // Shadow
	    --pigeon-text-shadow: 0 10px #0000001a;
	    --pigeon-box-shadow: 0px 0 25px 10px #0000001a;
	    --pigeon-box-shadow-2:0px 0 80px 80px #7878782e;
	    
	    .inverted {
	    	filter:none;
	    }
	    .pigeon-section-content span.fa-solid  {
	    	color: var(--pigeon-bg-color-2) !important;
	    }
	} 
}  


// FOTNS
$font-family : var(--pigeon-font-family); 

// COLORS

    $theme-color : var(--pigeon-theme-color);
    $theme-color-2 : var(--pigeon-theme-color-2);
    $bg-color : var(--pigeon-bg-color); 
    $bg-color-2 : var(--pigeon-bg-color-2);
	$bg-color-3 : var(--pigeon-bg-color-3);
    $text-color : var(--pigeon-text-color); 

    // GRADIENTS 
    $gradient : var(--pigeon-gradient);
    $gradient-2 : var(--pigeon-gradient-2);
    $gradient-3 : var(--pigeon-gradient-3);

    // BORDERS
    $border-color: var(--pigeon-border-color);
    $border-hide-color: var(--pigeon-border-hide-color);

    // INPUTS
    $input-bg-color: var(--pigeon-input-bg-color);
    $input-bg-focus-color: var(--pigeon-input-bg-focus-color);
    $input-text-color: var(--pigeon-input-text-color);

    // BTNS
    $btn-text-color: var(--pigeon-btn-text-color);
    $btn-bg-color: var(--pigeon-btn-bg-color);
    $btn-bg-color-2: var(--pigeon-btn-bg-color-2);

    // MESSAGES
    $color-message : var(--pigeon-message-color);
    $color-success : var(--pigeon-success-color);
    $color-error : var(--pigeon-error-color);

    // INVERTS
    $invert-bg-color : var(--pigeon-bg-color-invert);
    $invert-text-color : var(--pigeon-text-color-invert);
    $invert-gradient : var(--pigeon-gradient-invert);

// SHADOW
$shadow : var(--pigeon-box-shadow); 
$shadow-2 : var(--pigeon-box-shadow-2); 
$big-shadow : var(--pigeon-big-box-shadow); 
$text-shadow: var(--pigeon-text-shadow); 


// RADIUS
$radius : 5px;
$midle-radius: 10px;
$big-radius: 20px;
$circle : 100%;