.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    // .logo {
    //     img {
    //         width: 400px;
    //     }
    // }
    .menu {
    	position: relative;
    	ul {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: space-between;
			align-items: center;
    		list-style-type: none;
    		li {
    			margin: 0px 0px 0px 20px;
    		}
    	}
    	.responsive {
		    display: none;
		    padding: 14px;
		    background: var(--pigeon-input-bg-color);
		    cursor: pointer;
		    border-radius: 100%;
		    width: 20px;
		    height: 20px;
		    flex-direction: column;
		    flex-wrap: nowrap;
		    align-content: center;
		    justify-content: center;
		    align-items: center;
    	}
    }
}

@media screen and (max-width: 500px) {
    .header {
        padding: 20px 5px;
        .menu {
	    	ul {
	    		display:none;
				position: absolute;
				background: var(--pigeon-input-bg-focus-color);
				right: 0;
				top: calc(100% + 10px);
				flex-direction: column;
				z-index: 1;
				padding: 20px 40px;
				box-shadow: var(--pigeon-box-shadow-2);
				border-radius: 10px;
				li {
				    margin: 10px auto;
				}
	    	}
	    	.responsive {
			    display: flex !important;
			}
		}
		.menu.active {
	    	ul {
	    		display:flex;
	    	}
	    }
    }
}