.pigeon-popup{
    cursor: pointer;
    // BACKGROUND
    .pigeon-popup-bg{
        box-shadow: $shadow-2 !important;
        background: $bg-color !important;
        cursor: default;
        iframe#kofiframe {
            border-radius: 10px;
            height: 640px;
            width: auto;
        }
    }
}

@media screen and (max-width: 950px) {
    .pigeon-popup[data-position="center"],
    .pigeon-popup[data-position="left"],
    .pigeon-popup[data-position="right"]{
        .pigeon-popup-bg{
            width: auto !important;
        }
        .buttons {
        align-content: flex-start !important;
        align-items: flex-start !important;
        flex-direction: column !important;
        justify-content: flex-start !important;   
        margin-bottom: 20px;
            .content {
                font-size: 12px;
            }
            a {
                padding: 5px 15px !important;
            }
        }
    }
    .pigeon-popup[data-position="bottom"],
    .pigeon-popup[data-position="top"] {
        .pigeon-popup-bg {
            height: min-content !important;
            max-height: min-content !important;
        }
    }

}

@media screen and (max-width: 550px) {
    .pigeon-popup[data-position="center"],
    .pigeon-popup[data-position="left"],
    .pigeon-popup[data-position="right"]{
        .pigeon-popup-bg{
        	padding: 25px 15px;
            width: auto !important;
            max-width: 95% !important; 
            min-width: 90% !important;
        }

    }
}