body.error404 {
    .pigeon-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        height: calc(100% - 160px);
        padding: 80px 40px;
        .title {
            text-align: center;
            h1 {
            font-size: 50px;
            margin: 0;
            }
            .pigeon-404-btn {
                display: inline-block;
                color: $btn-text-color;
                background: $btn-bg-color;
                padding: 10px 20px;
                margin: 10px 5px;
                text-decoration: none;
                border-radius: $big-radius;
            }
        }
        .posts {
            .pigeon-archive-part {

            }
        }
    }
}
