body.home {
    .section {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        .part {
            // archive posts
            .pigeon-archive-sites {
                .pigeon-archive-part {
                    background-size: 300% 300% !important;
                    animation: gradient 5s ease infinite;
                    position: relative;
                    a {
                        text-align: center;
                        .pigeon-archive-part-title {
                            font-size: 40px;
                            font-weight: 800;
                            margin: 20px 10px;
                        }
                        .learn-more {
                            display: flex;
                            margin: 15px 0;
                            flex-direction: row;
                            align-content: center;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: nowrap;
                            margin: 15px 0;
                            i {
                                margin-left:10px;
                            }
                        }
                        .pigeon-archive-part-img img{
                        	height: 200px;
                            object-fit: contain;
                            padding: 10px 10px 30px 10px;
                        }
                    }
                }
                // specific sites
                // .pigeon-archive-part[data-site="1"]{
                //     display:none;
                // }
                // // specific sites
                // .pigeon-archive-part[data-site="3"]{
                //     a {
                //         .pigeon-archive-part-img img{
                //             transform: scale(0.8);
                //         }
                //     }
                // }
            }
        }
    }
}
.cs-tag {
    position: absolute;
    bottom: 10px;
    padding: 5px 10px;
    z-index: 1000;
    background: #00000036;
    right: 10px;
    border-radius: 15px;
    margin: auto;
    font-size: 13px;
}
@media screen and (max-width: 650px) {
    .section {
        flex-direction: column !important;
    }
    body.home {
        height: calc(100% - 20px) !important;
        padding: 10px !important;
    }
}